dalex==1.6.0
eli5==0.13.0
matplotlib==3.7.1
missingno==0.5.2
numpy==1.23.5
pandas==2.0.1
plotly==5.14.1
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
shap==0.41.0
streamlit==1.22.0
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.65.0
visualkeras==0.0.2
xgboost==1.7.5